<footer>

<section id='social' class='social-section' >
    <div class='container-social'>
        <div class='social-title'>
            <h2>Nos acompanhe</h2>
                <div class='social-media-icons'>   
                    <a href=http:instagram.com/lamd_ufpr>
                        <img class='social-media-instagram' src='/imagens/instagram.png'>
                    </a>
                    <a href=https://www.facebook.com/ligaacademica.mariandiamond> 
                        <img class='social-media-facebook' src='/imagens/facebook.png'>
                    </a>
                    <a href=https://twitter.com/LigaMarian>   
                        <img class='social-media-twitter' src='/imagens/twitter.png'>
                    </a> 
                    <a hred=https://www.linkedin.com/company/liga-acad%C3%AAmica-marian-diamond>    
                        <img class='social-media-linkedin' src='/imagens/linkedin.png'>
                    </a>
                </div> 
        </div>
</section>

</footer>
</body>

</html>