<!--NAVBAR SECTION-->

<header class='nav-header'>
    <section id='nvabar-menu-id' class='nav-index-section'>
       
        <nav class='navbar'>
            <button class='button-mobile'>Menu</button>
            <ul class='navbar-menu-ul'>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href='#'>Quem somos</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href='#'>Como partipar</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href='#'>Nossos projetos</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href='#'>Nossos ligantes</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href=''>Olimpíada</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' href=''>Neurociência no Brasil</a>
                </li>
            </ul>
        </nav>
    </section>
</header>

<body>

