<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Liga Acadêmica Marian Diamond</title>

    <link rel="stylesheet" type="text/css" href="/css/style-quem-somos.css">
    
    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">

    <!--Botstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</head>
    
<body>

<!--NAVBAR SECTION-->

<header class='nav-header'>
    <section id='nvabar-menu-id' class='nav-index-section'>
       
        <nav class='navbar'>
            <button class='button-mobile'>Menu</button>
            <ul class='navbar-menu-ul'>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='quem-somos'>Quem somos</a>       
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='como-partiipar'>Como partipar</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='nossos-projetos'>Nossos projetos</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='nossos-ligantes'>Nossos ligantes</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='olimpiadas'>Olimpíada</a>
                </li>
                <li class='navbar-menu-itens'>
                    <a class='navbar-menu-itens-link' method='get' href='neurociencia-no-brasil'>Neurociência no Brasil</a>
                </li>
            </ul>
        </nav>
    </section>

<!--SECTION QUEM SOMOS-->

<section id='id-quem-somos' class='quem-somos'>
    <h2>A Liga Acadêmica</h2>
        <div class='container-quem-somos'>
            <p>A Liga Marian Diamond começou a ser pensada no final do ano de 2019<br> mas efetivamente a iniciativa saiu do papel apenas no ano de 2021.<br> O projeto iniciou sendo tocado por alunos de graduação em Biomedicina<br> da Universidade Federal do Paraná, mas atualmente, já tem ligantes de outros<br> cursos como Medicina, Farmácia e Biologia, inclusive de outras universidades<br> do Brasil.<br><br>O nosso objetivo é construir um ambiente de aprendizado de neurociência,<br> cognição e comportamento diferente do tradicional, além de promover<br> projetos e desenvolvimento pessoal e profissional de todos os envolvidos na Liga.</p>
        <div class='marian-img'>    
            <img src='/imagens/quem-somos/brain.png' alt='ilustração de um cérebro humano'>
        </div>
    </div>
</section>

<!--SECTION QUEM FOI MARIAN DIAMOND-->

<section id='id-marian-diamond' class='marian-diamond'><br>
    <h2>Quem foi Marian Diamond</h2>
        <div class='container-marian-diamond'>
            <p>Marian Diamond foi uma neurocientista que demonstrou interesse desde<br> cedo pela neuroanatomia, tendo se formado em Biologia aos 21 anos e<br> dando início aos seus estudos sobre o sistema nervoso em 1948, na<br> Universidade de Berkeley, EUA. Ela se tornou professora após seu doutorado<br> e lecionou Biologia Integrativa até 2014, ano no qual ela se aposentou.<br><br> Suas principais contribuições foi pela primeira demonstração do que se<br> conhece hoje como plasticidade cerebral. També, a partir do estudo do<br> cérebro de Albert Einstein, ela foi capaz de nos trazer maior compreensão<br> das células da glia.</p>
                <!--Vídeo do Youtube da Marian Diamond-->
                <div class='marian-video'>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0APJD-wN7MA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
</section>

<!--SECTION DIRETORIAS-->

<section id='id-diretorias' class='diretorias'>
    <h2>Como a Liga é estruturada</h2>
        
        <div class='container-diretorias'>

            <div class='diretorias-item'>
                <h4>Diretoria da Presidência</h4>
                <p>Responsável pela cultura organizacional, liderança das diretorias garantindo o bom andamento de todos os projetos que são realizados, promoção do desenvolvimento de soft skills dos ligantes, estimulo e crescimento da comunidade de ligas acadêmica e burocracias necessárias.</p>
            </div>

            <div class='diretorias-item'>
                <h4>Diretoria Acadêmica</h4>
                <p>Promoção do desenvolvimento acadêmico dos ligantes. Atualmente promove os projetos como Tela Cinzenta em que são discutidos e estudados temas com base em filmes, Neurocalendário e Ciência em Pauta</p>
            </div>

            <div class='diretorias-item'>
                <h4>Diretoria Educacional</h4>
                <p>Gerencia o projeto de abertura do primeiro comitê em Curitiba da Olimpíada Brasileira de Neurociência,com previsão de primeira prova a ser aplicada para a competição no primeiro semestre de 2022</p>
            </div>

            <div class='diretorias-item'>
                <h4>Diretoria Social</h4>
                <p>Divulga todos os projetos, garantindo a padronização do estilo visual da instituição e gerencia todos os canais e redes sociais em que estamos presentes</p>
            </div>
           
        </div>

        <br><br><br>
    <div class='index-button'>
        <a>Voltar para tela principal</a>
    </div>

</section>




