body {
    background: #ffffff;
    font-family: 'Sarabun', sans-serif;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

/*---------------------------------------
  Navbar              
-----------------------------------------*/

.navbar{
  background:#EE5251;
}

/*---------------------------------------
  Home section              
-----------------------------------------*/

#home {
    background: url("/imagens/neuron.png") 75% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align:end;
}

/*---------------------------------------
  Specialization section              
-----------------------------------------*/

.container-specification{
  padding: 42px 22px;
  
}



/*Continer formando os blocos com itens*/
.container{
  display:flex;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items:space-around;  
}

/*Itens do conteiner*/
.specification-thumb{
  background: #ffffff;
  border-radius: 5px;
  padding: 42px 22px;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  height: 45%;
  flex: 0 1 30%; /*deixa cada item do mesmo tamanho!!!!!*/
  text-align: center;
  
 
   
}

.specification-thumb:hover {
  background: #94E8E2;

}

.specification-thumb h4 {
  padding-bottom: 5px;
}

.specification-title{
  text-align: center !important;
}

.specification-title  h2{
  text-align: center;
  line-height: 52px;
}




/*---------------------------------------
  About section              
-----------------------------------------*/

.container-about{
  padding: 42px 22px;
  height: 100vh;
}

.about-title{
  text-align: center;
}

/*---------------------------------------
  Localization section              
-----------------------------------------*/

.container-localization{
  padding: 42px 22px;
  height: 100vh;
}


.localization-title{
  text-align: center;
}

.map{
  display:flex;
  justify-content: flex-end;
  background:#EE5251;
}

/*---------------------------------------
  Social Media section              
-----------------------------------------*/

.container-social{
  padding: 42px 22px;
  height: 100vh;
}

.social-title{
  text-align:center;
}